/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #020B2A;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a, span, div {
  font-family: 'Montserrat', sans-serif;
}
